/* p {
  margin: 0;
}

strong {
  font-size: 18px;
  color: #494949;
}
.strongM {
  color: lightgrey;
}

.modal-xl {
  max-width: 1520px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
}

.modalForm {
  border-radius: 10px;
  box-shadow: .2em .2em 0 0 #494949;
  background-color: #ffffff96;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "roboto-black";
  font-weight: bold;
  font-size: 30px;
  height: 10vh;
  color: aliceblue;
  padding-bottom: 0;
  background-color: #494949;
}

.modal-header button {
  font-size: 15px;
}

.btn-close {
  color: aliceblue;
  background-color: #ff0037;
}

.dadosCadastrante {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2vh;
  height: 52vh;
  width: 100%;
}

#colaborador {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  margin-bottom: 1vh;
  background-color: #494949;
  padding: .5vw;
  border-radius: 5px;
}

.divisaoColaborador {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #2c2c2c;
  background-color: #ffffffbd;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 #fff;
  margin-bottom: 1vh;
}

.rowColaborador {
  border: 1px solid #fff;
}

#projeto {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
}

.divisaoSituacao,
.divisaoAmais {
  background-color: #494949;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #2c2c2c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  margin-bottom: 1vh;
  box-shadow: 2px 1px 0 0 aliceblue;
  word-spacing: 5px;
  overflow-y: auto;
}

.divisaoSituacao {
  height: 20vh;
}

.divisaoAmais {
  height: 18vh;
}

#avaliacao {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #2c2c2c;
  box-shadow: 2px 1px 0 0 aliceblue;
  background-color: #494949;
  width: 100%;
  height: 13vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.avaliacaoInterior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 50%;
  padding-left: 1vw;
  padding-right: 1vw;
}

.rowW {
  font-size: 14px;
}

#lblclass {
  padding-top: 1vh;
  font-size: 18px;
}

#subClassificacao {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-right: 1vw;
  gap: 0;
}

.classificacaoA,
.classificacaoB,
.classificacaoC {
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10vw;
}

.classificacaoA {
  background-color: #00b90f;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.classificacaoB {
  background-color: #00830b;
}

.classificacaoC {
  background-color: #004b06;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.classificacaoA:hover,
.classificacaoB:hover,
.classificacaoC:hover {
  transition: all .5s;
  background-color: #93ff9c;
  color: black;
}

.classificacaoA label,
.classificacaoB label,
.classificacaoC label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-family: "roboto-black";
  font-weight: bold;
  font-size: 15px;
}

#a3Mae,
.classificacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #ffffffbd;
  box-shadow: 1px 1px 0 0 #fff;
  gap: 10px;
}

#a3Mae h5 {
  font-size: 18px;
}

#a3Mae select {
  transition: all 1s;
  width: 30vw;
  height: 5vh;
  margin-bottom: 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

input[type="radio"]:checked {
  width: 30px;
  height: 30px;
}

input[type="checkbox"]:checked {
  width: 20px;
  height: 20px;
}

.avaliadores {
  width: 100%;
  height: 5vh;
  color: #fff;
  background-color: #494949;
  box-shadow: 1px 1px 0 0 #fff;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  border: 1px solid #2c2c2c;
  border-radius: 6px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  letter-spacing: 2px;
}

.modal-footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #494949;
}

#aprovar {
  transition: .5s ease;
  font-family: "roboto-black";
  color: green;
  background-color: #fff;
  box-shadow: 2px 2px 0 0 green;
}

#aprovar:hover {
  transition: .5s ease;
  background-color: green;
  color: #fff;
  box-shadow: 2px 2px 0 0 #fff;
}

#reprovar {
  transition: .5s ease;
  font-family: "roboto-black";
  color: red;
  background-color: #fff;
  box-shadow: 2px 2px 0 0 red;
}

#reprovar:hover {
  transition: .5s ease;
  background-color: red;
  color: #fff;
  box-shadow: 2px 2px 0 0 #fff;
}

#excluir {
  transition: .5s ease;
  font-family: "roboto-black";
  color: orange;
  background-color: #fff;
  box-shadow: 2px 2px 0 0 orange;
}

#excluir:hover {
  transition: .5s ease;
  background-color: orange;
  color: #fff;
  box-shadow: 2px 2px 0 0 #fff;
}

#btnClose {
  transition: all .5s;
  font-family: "roboto-black";
  color: black;
  background-color: #fff;
  box-shadow: 2px 2px 0 0 black;
}

#btnClose:hover {
  transition: all .5s;
  background-color: #0000;
  color: #fff;
  box-shadow: 2px 2px 0 0 #fff;
}

.button {
  width: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.flag {
  width: 25%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.flagEsperar {
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10vw;
  background-color: #ffff00;
  border-radius: 20px;
}

.flagReplicar {
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10vw;
  background-color: #7dfabe;
  border-radius: 20px;
}

:is(.flagEsperar, .flagReplicar) label{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-family: "roboto-black";
  font-weight: bold;
  font-size: 15px;
}
@media only screen and (max-width: 860px) {
  .modalForm {
    background-color: #797979de;
  }

  #projeto,
  #colaborador {
    height: 35vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .divisaoColaborador {
    height: 95%;
  }

  #subClassificacao {
    width: 94vw;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
  }

  .classificacaoA,
  .classificacaoB,
  .classificacaoC {
    width: 30%;
    padding-right: 1%;
  }
    :is(.flagEsperar, .flagReplicar) label {
    font-size: 11px;
  }
}

@media only screen and (min-width: 860px) {}

.ocult {
  display: none;
}

@media only screen and (min-width: 861px) and (max-width: 1366px) {

  .classificacaoA,
  .classificacaoB,
  .classificacaoC {
    width: 35%;
    padding-right: 1%;
  }
  :is(.flagEsperar, .flagReplicar) label {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1400px) and (min-height: 900px) {
  .classificacaoA,
  .classificacaoB,
  .classificacaoC {
    width: 40%;
    padding-right: 1%;
  }
  .flag {
    width: 30%;
  }
}

@media only screen and (min-width: 1920px) and (min-height: 920px) {
    .flag {
    width: 30%;
  }
}

.modal-dialog-scrollable .modal-body {
  overflow: hidden;
}

.swal2-actions {
  gap: 50px;
}

.divAlterar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.classificacaoA,
.classificacaoB,
.classificacaoC {
  width: 40%;
  padding-right: 1%;
} */
